body{
    background-color:#0a192f;
    color:white;
}
.nav-Style{
    font-weight: bolder;
}
.nav-Style:hover{
    text-decoration:underline;
    transition:1s;
    transform:scale(1.3)
 }
 .box{
     border: 1px solid white;
 }
